header {
  width: 100%;
  padding: 1rem 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    gap: 0.5rem;

    li {
      a {
        color: #add8e6;
      }
    }
  }
}
